
<body class="home-body">
  <div class="home-container">
    <div class="home-hero">
      <h1>Welcome to</h1>
      <%= image_tag "LOGO files-03.png", class: "hero-image" %>
    </div>
    <div class="home-cta">
      <div class="onboarding-cta">
        <div class="onboarding-description">
          <p>If your a musician, and you'd like to find cool people to play with, create a musician profile now and meet some people.</p>
        </div>
        <div class="button-mc">
          <%= link_to "Create a Musician Profile", "#", class: "btn-1" %>
        </div>
      </div>
      <div class="onboarding-cta">
        <div class="onboarding-description">
          <p>If your an orchestra, and you want to find cool people to join you, create an orchestra profile now and meet some people.</p>
        </div>
        <div class="button-col">
          <%= link_to "Create an Orchestra Profile", "#", class: "btn-2" %>
        </div>
      </div>
    </div>
    <hr class="rounded">
    <div class="home-infos">
      <div class="content" id="a">
        <h3>Here is some cool content about stretto</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed est lorem. Aliquam ut bibendum sapien. Donec vehicula libero id nisl dictum facilisis. Nunc malesuada mi vel hendrerit porta. Mauris.</p>
      </div>
      <div class="content" id="b">
        <h3>Here is some cool content about stretto</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed est lorem. Aliquam ut bibendum sapien. Donec vehicula libero id nisl dictum facilisis. Nunc malesuada mi vel hendrerit porta. Mauris.</p>
      </div>
      <div class="content" id="c">
        <h3>Here is some cool content about stretto</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed est lorem. Aliquam ut bibendum sapien. Donec vehicula libero id nisl dictum facilisis. Nunc malesuada mi vel hendrerit porta. Mauris.</p>
      </div>
    </div>
  </div>
</body>
