<h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>


<body>
  <div class="container d-flex">
    <div class="row">
        <div class="card-profile col-4 m-3">
          <img class="card-img-top height:100px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap">
            <div class="card-profile-infos">
              <h1>The Rolling Stones</h1>
              <h2>Bio: We play music</h2>
              <h2>Syle: Jazz</h2>
              <h2>Zip Code: 75010</h2>
              <a href="#" class="card-link">More infos</a>
              <a href="#" class="card-link">Send invitation</a>
            </div>
        </div>

        <div class="card-profile col-4 m-3">
          <img class="card-img-top height:100px" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" alt="Card image cap">
            <div class="card-profile-infos">
              <h1>The Rolling Stones</h1>
              <h2>Bio: We play music</h2>
              <h2>Syle: Jazz</h2>
              <h2>Zip Code: 75010</h2>
              <a href="#" class="card-link">More infos</a>
              <a href="#" class="card-link">Send invitation</a>
            </div>
        </div>

    </div>
  </div>



</body>
