.index-body {
  background-color: black;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

.margin-top-negative {
  margin-top: -75px;
}

.inline-form {
  color: white;
}

.inline-form input {
  border-radius: 50px;
  width: 200px;
  margin-right: 15px;
  margin-top: 0;
  padding: 5px;
}

.inline-form select {
  border-radius: 50px;
  width: 200px;
  padding: 5px;
  margin-right: 15px;
}

.inline-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-btn {
  width: 200px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-search-mc {
  background: linear-gradient(135deg, #E01D60, #FF702F);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.buttons-search-mc {
  border-radius: 50px ;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  color: #030435;
}

#btn-musicians-search {
  font-size: var(--bs-body-font-size);
  padding-left: 30px !important;
}

.btn-musician-search {
  background: linear-gradient(135deg, #45ffda, rgb(107, 245, 128));
  padding: 8px 24px ;
  border-radius: 50px ;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  color: #030435;
  margin-top: 16px;
}


.filters ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.search-output li {
  list-style: none;
  margin-right: 20px;
  padding: 5px 15px;
  color: white;
  border: 0.5px solid grey;
  background: linear-gradient(135deg, #727272c8, #7272725b);
  border-radius: 20px;
}

.search-output {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-output p {
  margin: 0;
  font-size: medium;
}

#reset-btn {
  background: linear-gradient(135deg, #727272c8, #7272725b);
  padding: 8px 24px ;
  border-radius: 50px ;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  color: white;
}
