.index-body {
  background-color: black;
  height: 100%;
  font-family: 'Rubik', sans-serif;
}

.margin-top-negative {
  margin-top: -75px;
}

.form-element {
  border-radius: 10px;
}

.user-details-mc .input-box .label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  width: 100%;
}

.block-mc .title-mc::before {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #73E0CA, white);
}


.inline-form input {
  border-radius: 50px;
  width: 200px;
  margin-right: 15px;
  padding: 5px;
}

.inline-form select {
  border-radius: 50px;
  width: 200px;
  padding: 5px;
}

.inline-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search_style {
  margin-left: 15px;
}


