.body-col {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(120deg, #191919, #1e1e1e);
}

.block-col {
  max-width: 700px;
  width: 100%;
  background: linear-gradient(120deg, #74747469, #434343c2);
  padding: 25px 30px;
  color: white;
  font-family: 'Rubik', sans-serif;
  border-radius: 30px;
}

.block-col .title-col {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}

#edit-title-col {
  background-image: linear-gradient(135deg, #48b2fd, rgb(157, 237, 253));
  background-size: 47.5% 4px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 5px;
}

#create-title-col {
  background-image: linear-gradient(135deg, #48b2fd, rgb(157, 237, 253));
  background-size: 55% 4px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 5px;
}

.block-col .user-details-col {
  margin: 20px 0 12px 0;
  display: flex;
  align-content: space-around;
}

#new_orchestra input {
  margin: 0;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

#new_orchestra select {
  margin: 0;
  width: 100%;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

#orchestra_bio {
  margin: 0;
  width: 100%;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

#orchestra_description {
  margin: 0;
  width: 100%;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

.buttons-col {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 20px;
}

#btn-orchestras-submit {
  font-size: var(--bs-body-font-size);
  padding-left: 30px !important;
}

.right-col {
  width: 100%;
  margin-left: 10px;
}

.left-col {
  width: 100%;
  margin-right: 10px;
}
