.body-col {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #030435, white);
}

.block-col {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 30px;
}

.block-col .title-col {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}

.block-col .title-col::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #030435, white);
}

.block-col .user-details-col {
  margin: 20px 0 12px 0;
  display: flex;
  align-content: space-around;
}


.user-details-col .input-box {
  margin-bottom: 15px;
}

.user-details-col .input-box input {
  height: 42px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid grey;
  padding-left: 15px;
}

.user-details-col label {

}

.button-col {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.right-col {
  width: 100%;
  margin-left: 10px;
}

.left-col {
  width: 100%;
  margin-right: 10px;
}
