.show-body {
  background-color: black;
  height: 100%;
}

.show-container-col {
  color: white;
  font-family: 'Rubik', sans-serif ;
  margin: 30px;
  border-radius: 50px;
  background: linear-gradient(135deg, #172d2a, #343434c2);
}

.show-banner {
  display: flex;
  flex-direction: row;
}

#orchestra-banner {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.show-title {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.oc-title {
  margin-bottom: 20px;
}

.oc-title h1 {
  background-image: linear-gradient(90deg, #E01D60, #FF702F);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
}

#name:hover {
  background-size: 100% 3px;
}

.image {
  margin: 56px;
  align-items: center;
  height: 300px;
}

.show-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 30px;
}

.show-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
  align-content: center;
}

.show-bio {
  padding-left: 15px;
}

.show-infos {
  padding-right: 15px;
}

#show-poke {
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

// .post-card {
//   padding: 30px;
//   margin: 50px;
//   border: solid 1px grey;
//   border-radius: 50px;
// }

span {
  font-weight: 500;
  background-image: linear-gradient(90deg, #E01D60, #FF702F);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
}

.post-display {
  display: flex;
  flex-direction: row;
}

.onetime-post {
  width: 100%;
}

.recurrent-post {
  width: 100%;
}


.post-card {
  border-radius: 10px;
  background-color: #353535;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  max-height: 200px;
  font-size: smaller
}

.post-card h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-card h4 {
  letter-spacing: 1px;
  margin:0;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.8;
}

.post-card-preview {
  display: flex;
  background-color: #272727;
  color: #FFF;
  padding: 30px;
  max-width: 250px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.post-card-info {
  padding: 30px;
  position: relative;
  width: 100%;
  color: white;
}

.post-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}



.show-container-col h3 {
  text-align: center;
  margin: 20px;
}

.show-container-col h1 {
  text-align: center;
  background-image: linear-gradient(90deg, #E01D60, #FF702F);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 15px;
}

.show-container-col h1:hover {
  background-size: 50% 3px;
}

.recurrent-post h4 {
  font-weight: 500;
  background-image: linear-gradient(90deg, #48b2fd, #ffffff);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
}

.onetime-post h4 {
  font-weight: 500;
  background-image: linear-gradient(90deg, #04ffcd, #ffffff);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
}
