.home-banner {
  height: 300px;
  width: 100%;
  background: linear-gradient(135deg, #73E0CA, white);
  margin-bottom: 50px;
}

.home-banner-orchestra {
  height: 300px;
  width: 100%;
  background: linear-gradient(135deg, #030435, white);
  margin-bottom: 50px;
}

.home-banner-firstcol {
padding-top: 140px;
padding-left: 20px;
color: white;
}



.home-banner-secondcol {
  padding-top: 40px;
  color: white;
  }

 .home-banner-search {
   padding-right: 20px;
   padding-bottom: 20px;
 }





select#instrument-select {
  font-size: 16px;
  color: black;
  background-color: white;
}

input,
label#instrument-select {
    margin: .4rem 0;
    background-color: #73E0CA;
    color: white;
    font-size: 32px;
    border-color: transparent;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
