.btn-home {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.btn-home:hover {
  opacity: 1;
}


.btn-search {
  color: #4A4A4A;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 1px solid #4A4A4A;
  text-align: center;
}
.btn-search:hover {
  background: linear-gradient(black);
  color: black;
}

.btn-poke {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
}
.btn-poke:hover {
  background: black;
  color: white;
  opacity: 0.8;
}


.btn-return {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: gray;
  transition: background 0.3s ease;
  opacity: 0.8;
}
.btn-return:hover {
  background:gray;
  color: white;
  opacity: 1;
}

.btn-accept-poke {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: green;
}
.btn-accept-poke:hover {
  opacity: 0.7;
}

.btn-refuse-poke {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: red;
}
.btn-refuse-poke:hover {
  opacity: 0.7;
}

.btn-musician {
  background: linear-gradient(135deg, #45ffda, rgb(107, 245, 128));
  padding: 8px 24px ;
  border-radius: 50px ;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  color: #030435;
}

.btn-orchestras {
  background: linear-gradient(135deg, #326F9A, #acadd4);
  color: white;
  font-weight: 500;
  padding: 8px 24px ;
  border-radius: 50px ;
  transition: background 0.3s ease;
  border: none;
}

.nav-button-mc {
  background: linear-gradient(135deg, #b1f5e7, rgb(209, 255, 216));
  font-weight: 500;
  padding: 8px 24px ;
  border-radius: 50px ;
  font-weight: bold ;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  color: black;
}

.nav-button-col {
  background: linear-gradient(135deg, #326F9A, #242437);
  font-weight: 500;
  padding: 8px 24px ;
  border-radius: 50px ;
  font-weight: bold ;
  transition: background 0.3s ease;
  border: none;
  text-decoration: none;
  color: white;
}

.no-text-dec {
  text-decoration: none;
}

.btn-poke2 {
  background: linear-gradient(135deg, #E01D60, #FF702F);
  color: white;
  font-weight: 500;
  padding: 8px 24px ;
  border-radius: 50px ;
  transition: all 0.2s ease;
  border: none;
}


// show main button
.btn-poke-an-orchestra {
  background: linear-gradient(135deg, #45ffda, rgb(107, 245, 128));
  color: white;
  font-weight: 500;
  padding: 8px 24px ;
  border-radius: 50px ;
  transition: all 0.2s ease;
  border: none;
}

#show-poke-black {
  text-decoration: none;
  padding: 8px 24px;
  color: black;
  border-radius: 50px;
}

//edit button
.edit-btn {
  background-color: white;
  font-weight: 500;
  padding: 8px 24px ;
  border-radius: 50px ;
}

#edit-btn-text {
  text-decoration: none;
  color: black;
}
#edit-icon {
  width: 20px;
  height: auto;
  margin-left: 5px;
}

//show right arrow
#right-arrow-black {
  width: 19px;
  height: auto;
  margin-left: -19px;
  margin-right: 10px;
}

#right-arrow-black-big {
  width: 30px;
  height: auto;
}

.btn-poke-orchestra-post {
  background-color: white;
  background-image: linear-gradient(135deg, #45ffda, rgb(107, 245, 128));
  background-size: 0%;
  background-repeat: no-repeat;
  font-weight: 500;
  padding: 8px 3px ;
  border-radius: 50px ;
  transition: background-size 0.5s ease;
  border: none;
}

.btn-poke-orchestra-post:hover {
  background-size: 100%;
}


//new post
.btn-new-post {
  background-color: white;
  background-image: linear-gradient(135deg, #45ffda, rgb(107, 245, 128));
  background-size: 0%;
  background-repeat: no-repeat;
  font-weight: 500;
  padding: 8px 3px ;
  border-radius: 50px ;
  transition: background-size 0.5s ease;
  border: none;
  margin-left: 20px;
}

.btn-new-post:hover {
  background-size: 100%;
}

#add-icon {
  width: 31px;
  height: auto;
  margin-left: -14px;
  margin-right: 17px;
}

.accept-btn:hover {
  color: green;
}
