.card-profile {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300px;
  margin-top: 15px;
  width: 18rem;
  // margin: 50px;
  grid-template-columns: auto auto auto auto;

}



.card-link {
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  margin-top: 10px;
  color: black;
  margin-bottom: 10px;
}

.avatar-large-musician {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  margin-top: 15px;
  margin-right: 20px;
  opacity: 1;
}

.musician-card-top-banner {
  background: #D7D7DF;
  margin-top: 10px;
  color: black;
}

.musician-infos {
  color: black;
}

.musician-infos h1 {
  margin-top: 20px;
  font-size: 16px;
}

.musician-infos h2 {
  margin-top: 10px;
  font-size: 16px;
}

.musician-name {
  color: black;
}


// essai nouvelles cards

.new-cards {
  margin: 20px;
  padding: 20px;
  width: 200px;
  min-height: 200px;
  border-radius: 30px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  background: radial-gradient(grey
  , lightgrey);
}

.new-cards-link {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.new-cards-link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.new-cards-link:hover::after {
  width: 100%;
}

.new-cards-infos {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-cards-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
