.card-profile {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300px;
  margin-top: 15px;
  width: 18rem;
  // margin: 50px;
  grid-template-columns: auto auto auto auto;
  border-radius: 3%;
  position: relative;
}



.card-link {
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  margin-top: 10px;
  color: black;
  margin-top: 20px;
}

.avatar-large-musician {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  margin-top: 15px;
  margin-right: 20px;
  opacity: 1;
}

.musician-card-top-banner {
  background: #D7D7DF;
  margin-top: 10px;
  color: black;
}

.musician-infos {
  color: white;
}

.musician-infos h1 {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 5px;
}



.musician-infos h3 {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

.musician-infos h2 {
  margin-top: 15px;
  font-size: 16px;
  margin-left: 5px;
}

.musician-infos a {
  text-decoration: none;
  color: transparent;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;

}

.musician-name {
  color: black;
}

.musician-name h4 {
  color: black;
  margin-left: 5px;
  margin-top: 10px;
}

.musician-name h1 {
  color: black;
  margin-top: 10px;
}

.musician-background {
  background-color: #030435;
  height: 280px;
  margin-bottom: 15px;
}

.card-profile .card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
