.main-dashboard {
  width: 50%;
  box-align: center;
}

.dashboard-background {
  background-color: black;
  height: 280px;
  margin-bottom: 15px;
}



.accepted-rejected:hover h4 {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
  color: green;
}

.accepted-rejected:hover h5 {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
  color: red;
}


.dashboard-head h1 {
  font-size: 48px;
  margin-bottom: 30px;
}


.dashboard-menu {
  font-size: 28px !important;
}

.active {
  color: black !important;
}

.dashboard-ban {
  height: 80px;
}


.dashboard-bottom-infos a {
  text-decoration: none;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
  color: white;
}

.dashboard-bottom-infos {
  color: white;
}

.dashboard-bottom-infos h1 {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 5px;
}



.dashboard-bottom-infos h3 {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}

.dashboard-bottom-infos h2 {
  margin-top: 15px;
  font-size: 16px;
  margin-left: 5px;
}

.dashboard-bottom-infos:hover h4 {
  color: green
}

.dashboard-bottom-infos h5 {
  color: red
}

.card-profile .card-link-link {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 0px;
  left: 0px;
}

.accept-btn :hover {
  color: green;
}

.reject-btn :hover {
  color: red;
}

.dashboard-bottom-infos .accepted-rejected > a {
  text-align: center;
}

.accepted-rejected {
  text-align: center;
}


.large-orchestra-dashboard {
  width: 100px;
  border-radius: 3%;
  height: 60px;
  margin-top: 10px;
  margin-right: 20px;
  opacity: 1;
}

