.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  opacity: 0.8;
  position: static;
  width: 100%;
  top: 0;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
  text-decoration: none;
}

.container-fluid {
  background: transparent;
}
