.orchestra-banner-post {
  height: 300px;
  width: 100%;
  background-color: #73E0CA;
  margin-bottom: 50px;
  color: black;
  opacity: 0.3;
}

.orchestra-banner-post h1 {
  font-size: 12px
}

.orchestra-banner-post h2 {
  font-size: 10px
}

.orchestra-banner-post h3 {
  font-size: 10px
}

.user-post-cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
