.body-mc {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #73E0CA, white);
}

.container-mc {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 30px;
}

.container-mc .title-mc {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}

.container-mc .title-mc::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #73E0CA, white);
}

.container-mc .user-details-mc {
  margin: 20px 0 12px 0;
  display: flex;
  align-content: space-around;
}

.user-details-mc .input-box .label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details-mc .input-box {
  margin-bottom: 15px;
}

.user-details-mc .input-box input {
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid grey;
  padding-left: 15px;
}

.user-details-mc label {
  font-weight: 500;
}

.button-mc {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.right-mc {
  width: 100%;
  margin-left: 10px;
}

.left-mc {
  width: 100%;
  margin-right: 10px;
}
