.body-mc {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(120deg, #191919, #1e1e1e);
}

.block-mc {
  max-width: 700px;
  width: 100%;
  background: linear-gradient(120deg, #74747469, #434343c2);
  padding: 25px 30px;
  border-radius: 30px;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.block-mc .title-mc {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}

#edit-title {
  background-image: linear-gradient(135deg, #45ffda, rgb(107, 245, 128));
  background-size: 47.5% 4px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 5px;
}

#create-title {
  background-image: linear-gradient(135deg, #45ffda, rgb(107, 245, 128));
  background-size: 55% 4px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 5px;
}

.block-mc .user-details-mc {
  margin: 20px 0 12px 0;
  display: flex;
  align-content: space-around;
}

.user-details-mc .input-box .label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

// new
#new_musician input {
  margin: 0;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

#new_musician select {
  margin: 0;
  width: 100%;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

// edit
.form-select.is-valid {
  margin: 0;
  width: 100%;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

.form-control.is-valid {
  margin: 0;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

.form-text {
  color: #c8c8c8;
}

#musician_bio {
  margin: 0;
  width: 100%;
  outline: none;
  border-radius: 50px;
  padding-left: 15px;
}

.user-details-mc label {
  font-weight: 500;
}

.buttons-mc {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 20px;
}

#btn-musicians-submit {
  font-size: var(--bs-body-font-size);
  padding-left: 30px !important;
}

.right-mc {
  width: 100%;
  margin-left: 10px;
}

.left-mc {
  width: 100%;
  margin-right: 10px;
}
