.show-infos-mc {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}


.avatar-large2 {
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50%;
}

.show-description-mc {
  margin-top: 50px;
}
